body {
    background-color: rgb(61, 61, 61);
}

#heading {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}

#heading h1 {
    font-family: fantasy;
}

#container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

#container div {
    align-self: stretch;
}

button {
    width: 7em;
}

.round-results {
    padding-top: 1em;
    width: 100%;
    text-align: center;

}

.final-score{
padding-top: 0.2em;    
    padding-bottom: 1em;
}

