body {
    background-color: rgb(61, 61, 61);
}

img {
    max-width: 90%;
    padding-bottom: 1em;
    border-radius: 25px;
}

button {
    width: 100%;

}

button:hover {
    cursor: pointer;
}

.even-center {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-evenly;
}

.final-score {
    padding-top: 0.2em;
    padding-bottom: 1em;
}

#heading h1 {
    font-family: fantasy;
}



#container div {
    display: grid;
    justify-items: center;
    width: 30%
}

#container div:hover {
    cursor: pointer;
}

#container label:hover {
    cursor: pointer;
}

.round-results {
    padding-top: 1em;
    width: 100%;
    text-align: center;

}